@import url("https://fonts.googleapis.com/css?family=Space+Mono");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

body {
  background: black;
  color: lime;
  font-family: 'Space Mono', sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  height: 100%;
}


.container {
  height: 100%;
}

.row {
  height: 100%;
}

#sidebar {
  background: black;
  height: 100vh;
  width: 20%;
  z-index: 999;
  top: 0px;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  position: absolute;
}

#main-content {
  height: 100vh;
  width: 80%;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 20%;
  overflow-y: scroll;
}

.sidebar-content {
  margin: 20px;
}

#logo {
  margin-top: 100px;
}

#connected-users {
  margin-top: 200px;
}

.chatbar {
  background: black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 50px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
  margin-top: 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: white;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

#hidden-button {
  display: none;
}

input {
  width: 100% !important;
}